body {
  background-color: #c7c0d4;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  color: black;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1em;
}

.header {
  padding: 1rem;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.footer {
  padding: 1rem;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
